<div class="foto"><app-david-foto></app-david-foto></div>
<div class="info-david">
  <p>
  David es uno de los referentes en emprendimiento de Honduras. A lo largo de una decada ha participado, brindado mentorias y dirigido a cientos de emprendimientos.</p>
  <a href="http://fi.co"><img class="fi-logo" src="https://fi.co/images/FI_logo.png"/></a>
  <p>Gracias a sus esfuerzos, este año se inició el programa <span style="color: green">Founder Institute</span> por primera vez en Honduras; mismo que él se encontraba dirigiendo.</p>
  <p>Son muchos los que nos hemos visto beneficiados por sus esfuerzos y mentorías. Los participantes de <span style="color: green">Founder Institute</span> nos hemos unido y, como una pequeña muestra de agradecimiento, estamos montando esta campaña de recaudación de donaciones.</p>
  <p>Las donaciones electrónicas se realizan utilizando un medio de pago que cuenta con los certificados de seguridad necesarios. Además, es necesario que des permiso al  GPS de tu teléfono para poder procesar el pago.</p>
  <p>Las cuentas bancarias pertenecen a los padres de David; y allí podés depositar la cantidad que quieras.</p>

</div>