:host {
  display: grid;
  grid-template: 
    "foto content"
    "banco banco"
    / 1fr 1fr;
    grid-gap: 8px;
    
    .content {
      display: grid;
      place-content: center;
      
      .buttons {
        display: grid;
        grid-template: "auto auto auto";
        place-items: center;
        
        a {
          width: min-content;
          place-content: center;
        }
        
        @media (max-width: 700px) {
          grid-template: 
            "btn1"
            "btn2"
            "btn3";
        }
      }
    }

.foto {
  width: 100%;
  object-fit: cover;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
}

.cuenta {
  margin: 8px;

  .banco {
    font-weight: bold;
  }

  .tipo {
    font-style: italic;
  }

  .numero{
    font-weight: bolder;
  }
  
  .titular {
    text-decoration: underline;
  }
}



@media (max-width: 425px) {
  :host {
    grid-template: 
      "foto"
      "content"
      "banco"
  }
}