<div class="foto"><img src="https://i.ibb.co/cYfnBPh/david.jpg" alt="david" border="0"></div>
<div class="content">
  <h2>Saludos, estimados! </h2>
  Se les comparte una noticia delicada de uno de nuestros amigos. David Sandino presenta una aneurisma (hemorragia cerebral), por lo que debe someterse a una reparación endovascular de emergencia.
<p>
 Cómo podrán imaginarse, esto conlleva un alto costo que supera los L.500,000.  Por lo cual agradeceríamos mucho su apoyo. Si desean realizar una donación, pueden hacerla por medio de esta página que hemos creado.
<p>
De antemano, les agradecemos enormemente su apoyo!
<br>
<div class="buttons">
  <a href="https://noncash.services/?pb=f39bb77341cf9b813636e98ca5a27839" mat-raised-button color="primary">Donar Lps 500</a>
  <a href="https://noncash.services/?pb=b246d2dca8e96294ce33158dcffa62ff" mat-raised-button color="secondary">Donar Lps 1,000</a>
  <a href="https://noncash.services/?pb=e042f1df742eab3b6a874828a5df313f" mat-raised-button color="warn">Donar Lps 2,00</a>
</div>

<div class="banco">
  También puedes realizar una transferencia electrónica o depósito a las siguientes cuentas bancarias. 

<div class="cuenta">
  <div class="banco">BAC </div>
  <div class="tipo">Cuenta de Ahorro LPS</div>
  <div class="numero">729 795 641</div>
  <div class="titular">Titular: Benjamín Alberto Sandino Alvarado</div>
</div>

<div class="cuenta">
  <div class="banco">Ficohsa  </div>
  <div class="tipo">Cuenta de Cheques LPS</div>
  <div class="numero">08312510283</div>
  <div class="titular">Titular: Benjamín Alberto Sandino Alvarado</div>
</div>

<div class="cuenta">
  <div class="banco">BanPais</div>
  <div class="tipo">Cuenta de Ahorro LPS</div>
  <div class="numero">21-002-012652-2</div>
  <div class="titular">Titular: Soraida De Jesús Cruz Bone</div>
</div>
</div>
</div>