<div class="foto"><app-david-foto></app-david-foto></div>
<div class="content">
  <h2>Saludos, estimados! </h2>
  &nbsp; Se les comparte una noticia delicada de uno de nuestros amigos. David Sandino presenta una aneurisma (hemorragia cerebral), por lo que se ha sometido a una reparación endovascular de emergencia. Ahora se encuentra en reposo.
<p>
 &nbsp; Cómo podrán imaginarse, esto conlleva un alto costo que supera los L.500,000.  Por lo cual agradeceríamos mucho su apoyo. Si desean realizar una donación, pueden hacerla por medio de esta página que hemos creado.
<p>
De antemano, les agradecemos enormemente su apoyo!
</p>
<p class="warning">
  Para poder procesar el pago, y por tu seguridad, es necesario que des permiso al GPS.
</p>
<br>
<div class="buttons">
  <a class="btn100" href="https://noncash.services/?pb=e12c23b99b7641dcf9dd5e04add92a89" mat-raised-button >Donar Lps 100</a>
  <a class="btn1" href="https://noncash.services/?pb=f39bb77341cf9b813636e98ca5a27839" mat-raised-button >Donar Lps 500</a>
  <a class="btn2" href="https://noncash.services/?pb=b246d2dca8e96294ce33158dcffa62ff" mat-raised-button >Donar Lps 1,000</a>
  <a class="btn3" href="https://noncash.services/?pb=e042f1df742eab3b6a874828a5df313f" mat-raised-button >Donar Lps 2,000</a>
</div>
</div>


<div class="banco">
  Los botones tienen montos fijos, pero también puedes realizar una transferencia electrónica o depósito a las siguientes cuentas bancarias con el monto que gustes.

<div class="cuenta">
  <div class="banco">BAC </div>
  <div class="tipo">Cuenta de Ahorro LPS</div>
  <div class="numero">729 795 641</div>
  <div class="titular">Titular: Benjamín Alberto Sandino Alvarado</div>
</div>

<div class="cuenta">
  <div class="banco">Ficohsa  </div>
  <div class="tipo">Cuenta de Cheques LPS</div>
  <div class="numero">08312510283</div>
  <div class="titular">Titular: Benjamín Alberto Sandino Alvarado</div>
</div>

<div class="cuenta">
  <div class="banco">BanPais</div>
  <div class="tipo">Cuenta de Ahorro LPS</div>
  <div class="numero">21-002-012652-2</div>
  <div class="titular">Titular: Soraida De Jesús Cruz Bone</div>
</div>
</div>