:host {
  display: grid;
  grid-template: 
    "foto content"
    "foto banco"
    / 1fr 1fr;
  grid-gap: 8px;
  height: 100vh;
    
    .content {
      display: grid;
      place-content: center;
      padding: 8px;
      text-align: justify;
      
      .buttons {
        display: grid;
        grid-template: "auto auto auto";
        place-items: center;
        
        a {
          background-color: green;
          width: min-content;
          place-content: center;
        }

        .btn1 {background-color: rgb(0, 199, 0)}
        .btn2 {background-color: rgb(0, 151, 0)}
        .bnt3 {background-color: rgb(0, 63, 0); color: white}
        
        @media (max-width: 700px) {
          grid-template: 
            "btn1"
            "btn2"
            "btn3";
          place-items: unset;
          a {
            width: unset;
            margin: 2px 12px 2px 12px;
          }
        }
      }
    }

  .foto {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-area: foto;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 425px) {
      place-items: center;

      img {
        width: unset;
        height: 100%;
        object-fit: unset;
      }
    }
  }

  .banco {
    grid-area: banco;
    padding: 8px;

    .cuenta {
      margin: 8px;

      .banco {
        font-weight: bold;
      }

      .tipo {
        font-style: italic;
      }

      .numero{
        font-weight: bolder;
      }
      
      .titular {
        text-decoration: underline;
      }
    }
  }


  @media (max-width: 700px) {
    grid-template: 
      "foto content"
      "banco banco";
  }

  @media (max-width: 425px) {
    margin: 8px;
    grid-template: 
      "foto"
      "content"
      "banco";

    .foto {
      height: 50vh;
    }
  }

  
}

