:host {
  display: grid;
  grid-template: 
    "toolbar" auto
    "content" 1fr
    "footer" auto;
  height: 100vh;

  .toolbar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3)
    // background-color: rgb(7, 219, 0);
  }
}

.main {
  overflow: auto;
  grid-area: content;
}